body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f3f6fc; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

.mt-6 {
  margin-top: 6rem; }

.mt-10 {
  margin-top: 10rem; }

.text-color {
  color: #676865; }

.text-accent-two {
  color: #e0ca3c; }

.welcome-carousel {
  background: linear-gradient(180deg, rgba(33, 35, 33, 0.85) 0%, rgba(33, 35, 33, 0.85) 100%), url("../images/men-1979261_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.benefit-carousel {
  background: linear-gradient(180deg, rgba(33, 35, 33, 0.85) 0%, rgba(33, 35, 33, 0.85) 100%), url("../images/pexels-anna-shvets-3943949.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.carousel-info {
  padding-top: 10rem;
  padding-bottom: 10rem; }

@media screen and (min-width: 768px) {
  .carousel-info {
    padding-top: 13rem;
    padding-bottom: 14rem; } }

.cta .cta__heading-text {
  font-size: 1.5rem; }

@media screen and (min-width: 768px) {
  .cta .cta__heading-text {
    font-size: 3rem; } }

.cta .cta__p-info {
  color: #fffdfd;
  font-size: 1rem;
  margin-top: 1rem; }

@media screen and (min-width: 768px) {
  .cta .cta__p-info {
    font-size: 1.3rem; } }

.cta .cta__btn {
  width: 12rem;
  background-color: #1e3888;
  color: #e1e3ea;
  border-radius: 17px; }

.shortsteps li:before {
  content: "\2713";
  display: inline-block;
  margin-right: 0.4rem;
  color: #1e3888;
  background-color: #ecf0fb;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 50%; }

.shortsteps li {
  margin-bottom: 0.6rem; }

.benefit-section {
  background-color: #eaeffa;
  padding: 6rem 0.5rem; }

.benefit-section .card {
  border-radius: 0.5rem; }

.plans-section {
  background-image: url("../images/nabeel-hussain-szc62bN79jY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0rem; }

.plans-section .plans-section__header {
  margin-bottom: 2rem; }

.plans-section .plans .plan {
  background-color: #e6ecf9;
  border-radius: 7px; }

.plans-section .plans .plan.plan--overview {
  background-color: #1e3888;
  color: #dee6f7; }

.plans-section .plans .plan .plan__features li {
  margin-top: 0.6rem;
  color: #676865; }

.plans-section .plans .plan .plan__features li:before {
  content: "\2713";
  display: inline-block;
  margin-right: 0.4rem;
  color: #1e3888;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 50%; }

.plans-section .plans .plan .plan__footer {
  margin-top: 2rem; }

.plans-section .plans .plan .plan__footer .plan__cta-btn {
  background-color: #1e3888;
  color: #dee6f7;
  width: 8rem; }

footer a.nav-link {
  color: #676865;
  padding: 0.5rem 0rem; }

main.auth-page {
  height: 100vh; }

main.auth-page .auth-pattern-section {
  background-image: url("../images/memphis-1788465.svg");
  height: 100vh;
  width: 100%; }
