.welcome-carousel {
  background: linear-gradient(
      180deg,
      rgba(33, 35, 33, 0.85) 0%,
      rgba(33, 35, 33, 0.85) 100%
    ),
    url("../images/men-1979261_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-info {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
