body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f3f6fc; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

.mt-6 {
  margin-top: 6rem; }

.mt-10 {
  margin-top: 10rem; }

.text-color {
  color: #4a4550; }

.text-accent-two {
  color: #e0ca3c; }

.welcome-carousel {
  background: linear-gradient(180deg, rgba(33, 35, 33, 0.85) 0%, rgba(33, 35, 33, 0.85) 100%), url("../images/men-1979261_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.benefit-carousel {
  background: linear-gradient(180deg, rgba(33, 35, 33, 0.85) 0%, rgba(33, 35, 33, 0.85) 100%), url("../images/pexels-anna-shvets-3943949.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.carousel-info {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  @media screen and (min-width: 768px) {
    .carousel-info {
      padding-top: 13rem;
      padding-bottom: 14rem; } }

.cta .cta__heading-text {
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    .cta .cta__heading-text {
      font-size: 3rem; } }

.cta .cta__p-info {
  color: #fffdfd;
  font-size: 1rem;
  margin-top: 1rem; }
  @media screen and (min-width: 768px) {
    .cta .cta__p-info {
      font-size: 1.3rem; } }

.cta .cta__btn {
  width: 12rem;
  background-color: #1e3888;
  color: #e1e3ea;
  border-radius: 17px; }

.shortsteps li:before,
.our-features li:before {
  content: "\2713";
  display: inline-block;
  margin-right: 0.4rem;
  color: #1e3888;
  background-color: #ecf0fb;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 50%; }

.shortsteps li,
.our-features li {
  margin-bottom: 0.6rem; }

.benefit-section {
  background-color: #eaeffa;
  padding: 6rem 0.5rem; }
  .benefit-section .card {
    border-radius: 0.5rem; }

.plans-section {
  padding: 6rem 0rem; }
  .plans-section .plans-section__header {
    margin-bottom: 2rem; }
  .plans-section .plans .plan .plan__container {
    padding: 0.3rem; }
    .plans-section .plans .plan .plan__container.plan--purple {
      background-color: #1e3888; }
    .plans-section .plans .plan .plan__container.plan--pink {
      background-color: #d676b3; }
    .plans-section .plans .plan .plan__container.plan--blue {
      background-color: #3a5ebf; }
    .plans-section .plans .plan .plan__container .plan__card {
      background-color: #f3f6fc;
      position: relative;
      top: -1rem;
      left: -1rem; }
    .plans-section .plans .plan .plan__container .plan__header {
      color: #4a4550; }
      .plans-section .plans .plan .plan__container .plan__header .plan__price .price {
        font-size: 2rem;
        font-weight: bold; }
      .plans-section .plans .plan .plan__container .plan__header .plan__price .year {
        color: #6a6a6d;
        font-size: 0.9rem; }
    .plans-section .plans .plan .plan__container .plan__name .name {
      font-size: 1.5rem; }
    .plans-section .plans .plan .plan__container .plan__body li {
      margin-bottom: 0.4rem;
      color: #6a686d; }

.second-cta-section .second-cta-content .secondary-cta {
  background-color: #1e3888;
  color: #dee6f7; }

.second-cta-section .second-cta-image {
  background-image: url("../images/volkan-vardar-f89aMG-KI-I-unsplash (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  border-radius: 70px 0px 0px 0px;
  padding-left: 5rem;
  width: 100%; }

footer a.nav-link {
  color: #4a4550;
  padding: 0.5rem 0rem; }

main.auth-page {
  height: 100vh; }
  main.auth-page .auth-pattern-section {
    background-image: url("../images/trade-forex.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; }

.auth-form {
  position: relative; }
  .auth-form .auth__header {
    color: #4a4550; }

.auth-btn {
  background: linear-gradient(225deg, #ffefc9 0%, #ffcf5c 100%); }

.password-eye {
  position: relative;
  left: 21rem;
  top: -2rem;
  cursor: pointer;
  color: #444147; }
