$primary-color: #1e3888;
$accent-1: #dee6f7;
$accent-2: #e0ca3c;
$text-color: #4a4550;
$body-bg: #f3f6fc;

body {
  font-family: "Fira Sans", sans-serif;
  background-color: $body-bg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-10 {
  margin-top: 10rem;
}

.text-color {
  color: $text-color;
}
.text-accent-two {
  color: $accent-2;
}
.welcome-carousel {
  background: linear-gradient(
      180deg,
      rgba(33, 35, 33, 0.85) 0%,
      rgba(33, 35, 33, 0.85) 100%
    ),
    url("../images/men-1979261_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.benefit-carousel {
  background: linear-gradient(
      180deg,
      rgba(33, 35, 33, 0.85) 0%,
      rgba(33, 35, 33, 0.85) 100%
    ),
    url("../images/pexels-anna-shvets-3943949.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-info {
  padding-top: 10rem;
  padding-bottom: 10rem;
  @media screen and (min-width: 768px) {
    padding-top: 13rem;
    padding-bottom: 14rem;
  }
}
.cta {
  .cta__heading-text {
    font-size: 1.5rem;
    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }
  .cta__p-info {
    color: #fffdfd;
    font-size: 1rem;
    margin-top: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }
  }
  .cta__btn {
    width: 12rem;
    background-color: $primary-color;
    color: #e1e3ea;
    border-radius: 17px;
  }
}

.shortsteps,
.our-features {
  li:before {
    content: "\2713";
    display: inline-block;
    margin-right: 0.4rem;
    color: $primary-color;
    background-color: lighten($color: $primary-color, $amount: 63);
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 50%;
  }

  li {
    margin-bottom: 0.6rem;
  }
}

.benefit-section {
  background-color: lighten($color: $accent-1, $amount: 3);
  padding: 6rem 0.5rem;
  .card {
    border-radius: 0.5rem;
  }
}

.plans-section {
  // background-image: url("../images/nabeel-hussain-szc62bN79jY-unsplash.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 6rem 0rem;
  .plans-section__header {
    margin-bottom: 2rem;
  }
  .plans {
    .plan {
      .plan__container{
        &.plan--purple{
          background-color: #1e3888;
        }
        
        &.plan--pink{
          background-color: #d676b3;
        }
        
        &.plan--blue{
          background-color: #3a5ebf;
        }
        
        padding: .3rem;

        .plan__card{
          background-color: $body-bg;
          position: relative;
          top: -1rem;
          left: -1rem;
        }
        .plan__header{
          color: $text-color;
          .plan__price{
            .price{
              font-size: 2rem;
              font-weight: bold;
            }
            .year{
              color: #6a6a6d;
              font-size: .9rem;
            }
          }
        }

        .plan__name{
          .name{
            font-size: 1.5rem;
          }
        }
        .plan__body{
          li{
            margin-bottom: .4rem;
            color: #6a686d;
          }
        }
      }
    }
  }
}

.second-cta-section {
  .second-cta-content {
    .secondary-cta {
      background-color: $primary-color;
      color: $accent-1;
    }
  }
  .second-cta-image {
    background-image: url("../images/volkan-vardar-f89aMG-KI-I-unsplash (1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    border-radius: 70px 0px 0px 0px;
    padding-left: 5rem;
    width: 100%;
  }
}
footer {
  a.nav-link {
    color: $text-color;
    padding: 0.5rem 0rem;
  }
}

main.auth-page {
  height: 100vh;

  .auth-pattern-section {
    background-image: url("../images/memphis-1788465.svg");
    height: 100vh;
    width: 100%;
  }
}
